@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
body {
  background-color: #182747;
  display: flex;
  justify-content: center;
}

.App{
  text-align: center;
  margin-top: 5%;
}

form{
  margin-top: 50px;
  font-family: 'Nabla', cursive;
  word-spacing: 20px;
  font-size: 30px;
}
.addTodo{
  border-radius: 10px;
  margin-right: 10px;
  height: 30px;
}

.addBtn{
  background: #D8D8D8;
	border: none;
	cursor: pointer;
  border-radius: 100%;
  padding: 5px 9px;
}
.addBtn:hover{
  background-color: rgb(120, 219, 186);
  transition: all 0.5s;
}

ul{
  margin-top: 50px;
}

.todoItem{
  background-color: #D8D8D8;
  height: 30px;
}
.todoItem:nth-child(odd){
  background-color: #a5a5a5;
}
.todoItem:first-child{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.todoItem:last-child{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.todoItem:hover{
  background-color: black;
  color: white;
}

.removeBtn{
  float: right;
  cursor: pointer;
  padding-right: 10px;
  height: 100%;
}

.removeBtn{
  height: 80%;
  margin-top: 3px;
}

span:hover{
  color: red;
}


h1{
  color: #7895B2;
  font-family: 'Nabla', cursive;
  font-size: 40px;
  word-spacing: 20px;
}